<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">

    <!-- The http-equiv attribute can be used to simulate an HTTP response header. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Define a description of your web page -->
    <meta name="description" content="">

    <!-- Define keywords for search engines -->
    <meta name="keywords" content="">

    <!-- Define the author of a page -->
    <meta name="author" content="">

    <title>Imperio</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300,800' rel='stylesheet' type='text/css'>

    <!-- PLUGINS-CSS-->
    <!--===============================================================-->
    <link rel="stylesheet" href="stylesheets/css-theme/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="stylesheets/css-theme/nivo-lightbox.min.css" type="text/css" >

    <!-- THEME-CSS-->
    <!--===============================================================-->
    <link rel="stylesheet" href="stylesheets/css-theme/theme.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/css-theme/animate.min.css" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

  <body data-spy="scroll" data-target=".scroll-bootstrap" data-offset="50">
    <%= yield %>

    <!-- JAVASCRIPT-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/js-theme/wow.min.js"></script>
    <script>
      wow = new WOW(
        {
          animateClass: 'animated',
          mobile: false
        }
      );
      wow.init();
    </script>
    <script src="javascripts/js-theme/jquery.bxslider.min.js"></script>
    <script src="javascripts/js-theme/nivo-lightbox.min.js"></script>
    <script src="javascripts/js-theme/jquery.mixitup.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiUHrtP7COzKY2azegkJZzps3J7pQ4Qs4&sensor=false">
    </script>
    <script src="javascripts/js-theme/call.js"></script>
  </body>
</html>
